<!DOCTYPE html>
<html>
  <head>
    <title> <%= title %> </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Welcome to <%= name %>'s Profile</h1>
    <p>
      My name is <%= name %> and I am a student in the
       Hack Adventures Camp. We are discussing many topics among
       web development.
    </p>
       <ol>
         <% hobbies.forEach( function(hobby){ %>
           <li> <%= hobby %> </li>
        <% })
         %>
      </ol>
  </body>
</html>
